{% extends 'base.html.twig' %}

{% block title %} Energetics {% endblock %}

{% block body %}
    <div class='container'>
        <div>
            <h1> Bienvenue sur Energetics &hearts; </h1>
                <a href="#"> Mes formations </a>
                <a href="#"> Rendez vous </a>
                
            
        </div>
        <div>
            <h2>Qui suis-je ?</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis possimus ratione provident atque beatae! Sequi assumenda dolorum aliquid. Id corrupti aliquid beatae obcaecati molestias reiciendis, non porro maxime deserunt maiores enim voluptatum est similique voluptates accusantium nobis vero blanditiis placeat ab error accusamus totam amet ut rerum? Unde magni cum, eos doloremque eius illo officiis quaerat consectetur harum quisquam perferendis minus laboriosam? Adipisci, impedit nisi? Accusantium, magni, dolor aperiam minus necessitatibus provident, pariatur sed enim similique delectus qui fuga culpa.</p>
        </div>

        <div>
            <h2> Ce que je propose </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eligendi exercitationem nam magni, alias ratione culpa repellendus reiciendis mollitia consequatur corrupti sapiente aut excepturi dolore doloremque sequi impedit, amet placeat nulla numquam obcaecati. Quo eaque sapiente quidem velit rem in libero possimus magni cum officiis voluptates corporis dolorum natus dolor magnam voluptas fugiat itaque omnis, repellendus distinctio consequuntur. Quisquam quidem minus corrupti unde et laborum impedit itaque quod odit eius recusandae, hic, ipsum nulla. Provident eum molestias incidunt animi magni.</p>
        </div>
    </div>


{% endblock %}
